@import url('Loading.css');
@import url('Navbar.css');
@import url('Videos.css');
@import url('Header.css');
@import url('Footer.css');
@import url('Gallery.css');
@import url('Bio.css');
@import url('Contact.css');
@import url('MagnetPodcast.css');


html, body {
  height: 100%;
}

h3 {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 5px;
  margin-bottom: 30px;
  font-family: "Questrial", sans-serif;
}

/* .Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Site-content {
  flex: 1 0 auto;
  width: 100%;
}

.Site-content {
  display: block;
  height: 0;
} */
