@import url('Navbar.css');
@import url('Videos.css');
@import url('Header.css');

html {
  position: relative;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 0 18px;
}

/* FOOTER STYLES */
footer {
  background-color: #efefef;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 18px;
  width: 100%;
  overflow:hidden;
}

.alex-link {
  text-decoration: none;
}

.alex-link:visited {
  color: black;
}

.alex-link:hover {
  color: blue;
}

/* BIO STYLES */
.bio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
  align-items: center;
}

.bio-text {
  flex: 200px;
}

.bio-text p {
  line-height: 25px;
  font-family: "Nunito sans", sans-serif;
}

.headshot {
  max-width: 100%;
  height: auto;
  margin: auto 40px auto 40px;
}

h3 {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  font-family: "Questrial", sans-serif;
}

.h3-container {
  text-align: center;
}

/* CONTACT STYLES */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  text-align: center;
}

.contact-container img {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.contact-container span {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 25px;
  font-family: "Nunito sans", sans-serif;
}

.contact-img-container {
  width: 45%;
  height: 45%;
}

/* GALLERY STYLES */
.gallery-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: auto;
}
