@import url('Navbar.css');
@import url('Videos.css');
@import url('Header.css');
@import url('Footer.css');
@import url('Gallery.css');
@import url('Bio.css');
@import url('Contact.css');
@import url('MagnetPodcast.css');


html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0 0 18px;
}

#main {
  background-color: white;
}

h3 {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 5px;
  margin-bottom: 30px;
  font-family: "Questrial", sans-serif;
}
