.bio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}

.bio-text {
  flex: 200px;
  align-self: center;
  margin-left: 1%;
  margin-right: 1%;
}

.bio-text p {
  line-height: 25px;
  font-family: "Nunito sans", sans-serif;
}

.bio-h3-container {
  text-align: center;
}

.headshot {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 734px) {
  .headshot-wrapper {
    max-width: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 735px) {
  .bio-text {
    margin-left: 30px;
    margin-right: 30px;
  }

  .headshot-wrapper {
    max-width: 400px
  }
}
