.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  text-align: center;
}

/* .contact-wrapper img {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.contact-wrapper span {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 25px;
  font-family: "Nunito sans", sans-serif;
}

.contact-img-container {
  width: 45%;
  height: 45%;
} */
