footer {
  background-color: #efefef;
  color: black;
  text-align: center;
  width: 100%;
  overflow:hidden;
  position: fixed;
  bottom: 0;
}

.alex-link {
  text-decoration: none;
  color: black;
}

.alex-link:visited {
  color: black;
}

.alex-link:hover {
  color: blue;
}
