footer {
  background-color: #efefef;
  color: black;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 18px;
  width: 100%;
  overflow:hidden;
  margin-top: 30px;
}

.alex-link {
  text-decoration: none;
  color: black;
}

.alex-link:visited {
  color: black;
}

.alex-link:hover {
  color: blue;
}
