@import url("../../node_modules/react-image-gallery/styles/css/image-gallery.css");

.gallery-container {
  margin-bottom: 30px;
}

.gallery-container h3{
  text-align: center;
}

.image-gallery {
  max-width: 80%;
  margin: auto;
}
