.podcast-wrapper {
  background: url(../spinner.svg) center center no-repeat;
}

/* .thumbnail-wrapper {
  background: url(../spinner.svg) center center no-repeat;
} */

.contact-wrapper {
  background: url(../spinner.svg) center 30px no-repeat;
}
