header {
  display: flex;
  background-color: black;
  color: white;
  padding: 7px;
  height: 60px;
  align-items: center;
  font-weight: 300;
  letter-spacing: 7px;
  justify-content: center;
  font-family: "Questrial", sans-serif;
}

@media screen and (min-width: 601px) {
  header {
    font-size: 35px;
  }
}

@media screen and (max-width: 600px) {
  header {
    font-size: 20px;
  }
}
